.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  z-index: 9999;
}

.header__menu {
  display: none;
}

.header__bars {
  color: var(--clr-gray);
  width: var(--size-2xl);
  height: var(--size-2xl);
  display: block;
}

/* xs */
@media (min-width: 475px) {
  .header__menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2em;
  }

  .header__link {
    font-size: var(--size-s);
    text-decoration: none;
    font-weight: 600;
    color: var(--clr-gray);
    letter-spacing: -0.05em;
    transition: color 0.4s;
  }

  .header__link:hover {
    color: var(--clr-red);
  }

  .header__line {
    border: 1px solid var(--clr-gray);
    padding-top: 1.5em;
  }

  .header__lamp {
    display: block;
    color: rgb(187, 194, 199);
    width: var(--size-2xl);
    height: var(--clr-base);
  }

  .header__resume {
    font-size: var(--size-xs);
  }

  .header__bars {
    display: none;
  }
}

/* lg */
@media (min-width: 1024px) {
  .header__link {
    font-size: var(--size-base);
  }

  .header__lamp {
    width: var(--size-2xl);
    height: var(--clr-2xl);
  }

  .header__resume {
    font-size: var(--size-base);
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .header__link {
    font-size: var(--size-lg);
  }
}
