@keyframes bounce {
  0% {
    transform: translateX(-80px);
  }
  30% {
    transform: translateX(0px);
  }
  50%,
  80%,
  100% {
    transform: translateX(0);
  }

  40% {
    transform: translateX(-20px);
  }

  60% {
    transform: translateX(-10px);
  }
}

.animate {
  animation-name: bounce;
  animation-duration: 1.2s;
}

.hero {
  text-align: center;
  /* border: 1px blueviolet solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2.5rem;
}

.hero__img {
  border-radius: 50%;
  height: 6.5rem;
  width: 6.5rem;
}

.hero__greeting {
  color: var(--clr-gray);
  font-size: var(--size-base);
  line-height: 0.7;
}

.hero__title {
  color: var(--clr-white);
  font-size: var(--size-3xl);
  line-height: 0.85;
  letter-spacing: -0.07rem;
}

.hero__description {
  color: var(--clr-gray);
  max-width: 60ch;
  font-size: var(--size-sm);
  line-height: 1.55;
  letter-spacing: -0.002rem;
}

.hero__btn {
  text-transform: capitalize;
  font-size: var(--size-base);
}

/* xs */
@media (min-width: 475px) {
  @keyframes bounce {
    0% {
      transform: translateX(-200px);
    }
    30% {
      transform: translateX(0px);
    }
    50%,
    80%,
    100% {
      transform: translateX(0);
    }

    40% {
      transform: translateX(-20px);
    }

    60% {
      transform: translateX(-10px);
    }
  }
  .hero {
    gap: 1.3rem;
    margin-top: 3.5rem;
  }

  .hero__img {
    height: 8rem;
    width: 8rem;
  }

  .hero__greeting {
    font-size: var(--size-xl);
  }

  .hero__title {
    font-size: var(--size-4xlplus);
  }

  .hero__description {
    font-size: var(--size-base);
    line-height: 1.55;
    letter-spacing: -0.002rem;
  }

  .hero__btn {
    font-size: var(--size-base);
  }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {
} */

/* lg */
@media (min-width: 1024px) {
  @keyframes bounce {
    0% {
      transform: translateX(-300px);
    }
    30% {
      transform: translateX(0px);
    }
    50%,
    80%,
    100% {
      transform: translateX(0);
    }

    40% {
      transform: translateX(-20px);
    }

    60% {
      transform: translateX(-10px);
    }
  }
  .hero {
    gap: 1.7rem;
    margin-top: 4rem;
  }

  .hero__img {
    height: 9rem;
    width: 9rem;
  }

  .hero__greeting {
    font-size: var(--size-3xl);
  }

  .hero__title {
    font-size: var(--size-7xl);
  }

  .hero__description {
    font-size: var(--size-2xl);
    line-height: 1.55;
    letter-spacing: -0.002rem;
  }

  .hero__btn {
    font-size: var(--size-2xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  .hero {
    gap: 2rem;
  }

  .hero__img {
    height: 10rem;
    width: 10rem;
  }

  .hero__greeting {
    font-size: var(--size-3xl);
  }

  .hero__title {
    font-size: var(--size-8xl);
  }

  .hero__description {
    font-size: var(--size-2xl);
  }

  .hero__btn {
    font-size: var(--size-3xl);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */

@media (min-width: 1800px) {
  @keyframes bounce {
    0% {
      transform: translateX(-350px);
    }
    30% {
      transform: translateX(0px);
    }
    50%,
    80%,
    100% {
      transform: translateX(0);
    }

    40% {
      transform: translateX(-20px);
    }

    60% {
      transform: translateX(-10px);
    }
  }
}
