.projects {
  text-align: center;
}

.projects__title {
  font-size: var(--size-2xl);
  color: var(--clr-light);
}

.projects__description {
  max-width: 60ch;
  font-size: var(--size-sm);
  color: var(--clr-gray);

  margin: 1rem auto;
}

.projects__project-title {
  font-size: var(--size-xl);
  color: var(--clr-light);
  margin-bottom: 1rem;
}

.projects__img-wrapper {
  position: relative;
}

.projects__img-wrapper::after {
  content: "";
  background-color: rgba(79, 70, 229, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background-color 0.3s;
}

.projects__img-wrapper:hover::after {
  background-color: rgba(79, 70, 229, 0);
}

.project__wrapper:not(:last-child) {
  margin-bottom: 5rem;
}

.projects__project-description1 {
  font-size: var(--size-sm);
  color: var(--clr-strongblue);
  margin: 1rem 0;
}

.projects__project-description2 {
  font-size: var(--size-sm);
  color: var(--clr-gray);
  margin-bottom: 1rem;
}

.projects__project-button {
  font-size: var(--size-sm);
}

.visible {
  display: none;
}

.projects__github {
  margin-top: 3.5em;
}

.projects__github h2 {
  font-size: var(--size-lg);
}

.projects__github a {
  font-size: var(--size-sm);
  text-decoration: none;
  color: var(--clr-blue);
}

/* xs */
@media (min-width: 475px) {
  .projects__title {
    font-size: var(--size-3xl);
  }

  .projects__description {
    font-size: var(--size-base);

    margin: 1.5rem auto;
  }

  .projects__project-title {
    font-size: var(--size-xl);
    margin-bottom: 1.5rem;
  }

  .projects__project-description1 {
    font-size: var(--size-base);
    margin: 1.5rem 0;
  }

  .projects__project-description2 {
    font-size: var(--size-base);
    margin-bottom: 1.5rem;
  }
  .projects__project-button {
    font-size: var(--size-base);
  }
}

/* sm */
@media (min-width: 640px) {
  .projects__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "image1 content1"
      "content2 image2"
      "image3 content3";
    place-items: center;
  }

  .projects__image1 {
    grid-area: image1;
  }

  .projects__image2 {
    grid-area: image2;
  }

  .projects__image3 {
    grid-area: image3;
  }

  .projects__content1 {
    grid-area: content1;
  }

  .projects__content2 {
    grid-area: content2;
  }

  .projects__content3 {
    grid-area: content3;
  }

  .invisible {
    display: none;
  }

  .visible {
    display: block;
  }

  .projects__project-title {
    font-size: var(--size-xl);
    margin-bottom: 1.5rem;
  }

  .projects__project-description1 {
    font-size: var(--size-sm);
    margin: 1em 0;
  }

  .projects__project-description2 {
    font-size: var(--size-sm);
    margin-bottom: 1em;
  }

  .projects__project-button {
    font-size: var(--size-sm);
  }

  .project__wrapper:not(:last-child) {
    margin-bottom: 0;
    padding: 0 1rem;
  }

  .project__wrapper:last-child {
    padding: 0 1rem;
  }
}

/* 1:59:12:18 */

/* md */
@media (min-width: 768px) {
  .projects__project-title {
    font-size: var(--size-2xl);
  }

  .projects__project-description1 {
    font-size: var(--size-base);
  }

  .projects__project-description2 {
    font-size: var(--size-base);
  }

  .projects__project-button {
    font-size: var(--size-base);
  }

  .projects__github h2 {
    font-size: var(--size-2xl);
  }

  .projects__github a {
    font-size: var(--size-base);
  }
}

/* lg */
@media (min-width: 1024px) {
  .projects__title {
    font-size: var(--size-4xl);
  }

  .projects__description {
    font-size: var(--size-lg);
  }

  .projects__project-title {
    font-size: var(--size-2xl);
  }

  .projects__project-description1 {
    font-size: var(--size-base);
  }

  .projects__project-description2 {
    font-size: var(--size-base);
  }

  .projects__project-button {
    font-size: var(--size-base);
  }

  .projects__github h2 {
    margin-top: 5rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .projects__title {
    font-size: var(--size-6xl);
  }

  .projects__description {
    font-size: var(--size-4xl);
    margin: 2rem auto;
  }

  .projects__project-title {
    font-size: var(--size-3xl);
  }

  .projects__project-description1 {
    font-size: var(--size-lg);
  }

  .projects__project-description2 {
    font-size: var(--size-lg);
    max-width: 40ch;
  }

  .projects__project-button {
    font-size: var(--size-lg);
  }

  .projects__container {
    width: 80%;
    margin: 0 auto;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .projects__container {
    width: 70%;
  }
  .projects__title {
    font-size: var(--size-6xl);
  }

  .projects__description {
    font-size: var(--size-2xl);
    margin: 2rem auto;
  }

  .projects__project-title {
    font-size: var(--size-4xl);
  }

  .projects__project-description1 {
    font-size: var(--size-xl);
  }

  .projects__project-description2 {
    font-size: var(--size-xl);
  }

  .projects__project-button {
    font-size: var(--size-xl);
  }

  .projects__github h2 {
    font-size: var(--size-3xl);
  }

  .projects__github a {
    font-size: var(--size-lg);
  }
}
